---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectCard from "../components/ProjectCard.svelte";
import Hero from "../components/Hero.svelte";
---

<MainLayout title="Meu Portifolio">
  <h1>Bem-vindo ao meu portfólio</h1>
  <section class="projects">
    <ProjectCard
      title="Projeto 1"
      description="Um projeto incrível construído com Astro e Svelte."
      image="/"
      client:load
    />
    <ProjectCard
      title="Projeto 2"
      description="Outro projeto fantástico com interatividade."
      image="/"
      client:load
    />
  </section>
  <section class="Hero">
    <Hero client:load />
  </section>
</MainLayout>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
</style>
